.slider__button {
    cursor: pointer;
    background: none;
    width: 40px;
    height: 40px;
    background-image: url(../../../images/arrow.svg);
    background-repeat: no-repeat;
    border: 1px solid #ECF0F4;
    border-radius: 5px;
    background-size: 11px 19px;
    background-position: center; 
    position: absolute;
    z-index: 1;
    top: 45%;
    position: absolute;
    transition: opacity 0.2s ease;
}

.slider__button:hover {
    opacity: 0.5;
  }

@media screen and (max-width: 768px) {
    .slider__button {
        display: none !important;
    }
}
